<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'logout' %}">Sair</a>
    <ul>
    {% for paciente in pacientes %}
        <li>
            <a href="{% url 'alterar_paciente' paciente.id %}">{{ paciente.nome_do_Paciente }}</a>
            <a href="{% url 'alterar_paciente' paciente.id %}">Alterar</a>
            <a href="{% url 'excluir_paciente' paciente.id %}">Excluir</a>
        </li>
    {% endfor %}
    </ul>
    <br>
    <a href="{% url 'novo_paciente' %}">Novo</a>
</body>
</html>