{% extends 'base.html' %}

{% block title %}Lista de Pacientes{% endblock %}

{% block main %}

    <h3>Lista de Pacientes</h3>
    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-md-8">
            <form class="form-inline">
              <div class="form-group mx-sm-2 mb-2" >
                <input type="text" class="form-control" id="pesquisa" name="pesquisa" placeholder="Digite sua busca">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
            </form>
        </div>

        <div class="col-sm">
            <p> Olá {{ user.username }} <a href="{% url 'logout' %}" ><span class="badge badge-dark">Sair</span></a></p>
        </div>
    </div>

    <div class="row">

        <div class="col-sm">
        </div>

        <div class="col-md-8">
            <table class="table table-striped" style="width:100%">
                <tr>
                  <th scope="col">Nome</th>
                  <th class="icons-rigth" scope="col">Excluir</th>
                    <th class="icons-rigth" scope="col">Alterar</th>
                </tr>
                {% for paciente in pacientes %}
                    <tr>
                        <td>{{ paciente.nome_do_Paciente }}</td>
                        <td class="icons-rigth"><a class="btn btn-danger" href="{% url 'excluir_paciente' paciente.id %}"><i class="fas fa-trash-alt"></i></a></td>
                        <td class="icons-rigth"><a class="btn btn-warning" href="{% url 'alterar_paciente' paciente.id %}"><i class="fas fa-edit" ></i></a></td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <a href="{% url 'novo_paciente' %} " class="btn btn-primary" >Novo</a>
        </div>

        <div class="col-sm">
        </div>
    </div>

{% endblock%}

